body {
    background-color: antiquewhite;
}

h1 {
    font-family:'Franklin Gothic Medium';
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
}

nav {
    display: inline;
    color: greenyellow;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: black;
}

#navegacion {
    position: fixed;
}